$white: #fff;
$black: #000;
$grey: #3B3D3D;
$light-grey: #ccc;
$dark-blue: #1B3D5F;
$blue: #005C9B;
$light-blue: #8AA7CB;
$peach: #F15B4C;

$text-color: $dark-blue;


$primary: $blue;
$secondary: $grey;

$pacifico: Pacifico, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;